name: Context Demo

on: 
    push: 
    workflow_dispatch:

jobs:
    analysis:
        name: Erste Analyse
        runs-on: ubuntu-latest
        outputs:
          secret-message: "Blub"

        steps:
            - name: Zeige GitHub Kontext
              run: echo '${{ toJson(github) }}'

            - name: Zeige Steps Kontext
              run: echo '${{ toJson(steps) }}'

            - name: Zeige Runner Kontext
              run: echo '${{ toJson(runner) }}'
    
    job2:
        name: Zeige Werte aus Job 1 (Analysis)
        runs-on: ubuntu-latest
        needs: analysis

        steps:
            - name: Outputs anzeigen
              run: |
                echo "Geheime Message aus Job 1: ${{ needs.analysis.outputs.secret-message }}"