# Workflow konfiguration (Metadaten)
name: Hello World
description: Das ist nur ein Hello World Beispiel

# Events
on: 
    push:
        branches: 
            - main
            - 'feature/**'
            - '!feature/old'
    workflow_dispatch: #mehr möglichkeiten noch zeigen

# Jobs
jobs:
    say-hello:
        name: Begrüßen
        runs-on: ubuntu-latest
        steps:
            - name: Aktuelles Verzeichnis ansehen
              run: pwd && ls -al
            
            - name: Checkout der Dateien
              uses: actions/checkout@v4
            
            - name: Aktuelles Verzeichnis ansehen
              run: pwd && ls -al

            - name: JavaScript ausführen
              run: node hello-world.js
